/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

  *{
    margin: 0;
    font-family: "Bricolage+Grotesque";
    color: darkred;

  }
  .navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;

  }
  .navbar h1{
    color: blueviolet;

  }
  .navbar links {
    margin-left: auto;

  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 10px;

  } 
  .navbar a:hover {
    color:aquamarine;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }